body {
    background-color: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.4em;
}
h1 {
    font-size: 21px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 2%;
}
h2 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
h3 {
    font-size: 15px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}
.container {
    max-width: 1200px;
    width: 100%;
    padding: 20px;
    margin: auto;
}
a {
    color: #b3679b;  
}
 .clear {
    clear: both;
 }
header {
    height: 110px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    background-color: aliceblue;
    position: sticky;
    z-index: 999;
    top: 0;
}
nav {
    float: right;
}
header img {
    width: 250px;
    /* padding-left: 50px; */
    float: left;
}
nav ul {
    list-style-type: none;
}
nav li {
    display: inline-block;
    margin: 20px;
}
nav a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}
nav a:hover {
    color: #e6a563;
}
.hero {
    background-color: #ffcf83;
    height: 300px;
}
.button {
    color: #fff;
    text-decoration: none;
    background-color: #222e50;
    border: solid 1px #222e50;
    border-radius: 10px;
    padding: 10px;
}
.hero-text a:hover {
    color: #222e50;
    background-color: transparent;
    border: solid 2px #222e50;
}
.hero-text {
    width: 600px;
    margin-top: auto;
    padding-left: 60px;
    float: left;
}
.hero img{
    width: 250px;
    padding-right: 60px;
    float: right;
}
.feature-block {
    width: 315px;
    padding: 20px;
    margin: 20px;
    display: inline-block;
    text-align: center;
    background: white;
}
.testimonials {
    color: #fff;
    background-color: #222e50;
    text-align: center;
}
.testimonial-block {
    color: #000;
    width: 300px;
    padding: 10px;
    margin: 20px;
    display: inline-block;
    background-color: white;
}
.team-block {
    width: 210px;
    padding: 10px;
    margin: 20px;
    text-align: center;
    display: inline-block;
}